<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= movie.title %> </title>
    <link rel='stylesheet' href='/css/style.css' />

</head>
<body>
    
    <%- include('./partials/header') %> 
    <main class="detalle">
        <div class="caja_detalle">
            <h1><%= movie.title %> </h1>    
            <br>
            <p>RATING: <%= movie.rating %> </p>
            <p>AWARDS: <%= movie.awards %> </p>
            <p>LENGTH: <%= movie.length + ' min'%> </p>
            <p>RELEASE DATE:  <%= moment(movie.release_date).format('YYYY-MM-DD') %></p>
            <div class="caja_Boton">
                <a class="boton_Return" href="/movies/">Regresar a Películas</a>
                <a class="boton_Return" href="/movies/edit/<%= movie.id %>"> Editar Película</a>
                <a class="boton_borrar" href="/movies/delete/<%= movie.id %>"> Borrar Película</a>
            </div>
        </div>
    </main>
</body>
</html>